@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: rgb(255, 103, 103);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  margin-left: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  padding: 5px;
  padding-right: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.texts h2 {
  font-family: 'Karla', sans-serif;
}

.texts p {
  font-family: 'Merriweather', serif;
  font-size: 10px;
}