@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather:wght@300&display=swap');

*{
  font-family: 'Karla', sans-serif;
}
.result-search {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #ffaeae;
}